/*
COLORES
*/
/*
FONT FAMILY
*/
/*
PADDING
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0;
  background-color: transparent;
}

.row {
  --bs-gutter-x: 0;
}

.header__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00ffb6;
  height: 35px;
}

.header__icon1 {
  color: #7e089c;
  height: 20px;
}

.header__icon2 {
  color: #7e089c;
  height: 20px;
  padding-left: 30px;
}

.header__menu {
  padding: 20px 40px 20px 40px;
  height: 90px;
}

.header__menuGen {
  padding: 20px 40px 20px 40px;
  height: 90px;
  background: #040229;
}

.header__btn {
  padding: 20px 40px;
  background-color: #00ffb6;
}

.header__img {
  height: 40px;
}

.header__link {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.header__link:hover {
  color: #7e089c;
  text-decoration: none;
}

.text {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  padding-left: 3px;
}

.text2 {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
}

.text2w {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

.titulo {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  font-size: 3.4em;
  line-height: 3.3rem;
  font-weight: 700;
}

.sub {
  font-size: 1.2em;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #040229;
}

.subw {
  font-size: 1.2em;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #fff;
}

.subp {
  font-size: 1.2em;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #040229;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.btnw {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  border-radius: 25px;
  padding: 8px 15px;
  margin-top: 30px;
  color: #fff;
  background-color: transparent;
  border-width: 2px;
  border-color: #fff;
}

.btnw:hover {
  background-color: #7e089c;
  border-color: #7e089c;
}

.btnb {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  border-radius: 25px;
  padding: 8px 15px;
  margin-top: 30px;
  color: #7e089c;
  background-color: transparent;
  border-width: 2px;
  border-color: #7e089c;
}

.btnb:hover {
  color: #fff;
  background-color: #040229;
  border-color: #040229;
}

.btnh {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  border-radius: 25px;
  padding: 8px 15px;
  color: #00ffb6;
  text-decoration: none;
  background-color: transparent;
  border-width: 2px;
  border-color: #00ffb6;
  margin-left: 7px;
}

.btnh:hover {
  border-color: #fff;
  color: #fff;
}

.separador {
  height: 2px;
  width: 15%;
  margin-right: 2rem;
  margin-top: 1rem;
  background-color: #7e089c;
}

.separadorCorto {
  height: 2px;
  width: 2%;
  background-color: #7e089c;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.contenedorSep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glass {
  padding: 35px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.hero__01 {
  margin-top: -90px;
}

.hero__row {
  height: 100vh;
  background: linear-gradient(135deg, #040229 20%, #0f089c 80%);
}

.hero__01col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 2.5em;
  padding-right: 25%;
}

.hero__titulo {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 4em;
  font-weight: 700;
  margin-top: 90px;
}

.hero__sub {
  font-family: "Roboto Mono", monospace;
  color: #00ffb6;
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 25%;
}

#btnr {
  display: none;
}

.btnflo {
  position: fixed;
  bottom: 65px;
  right: 2.5em;
}

.btnflo__redes a, .btnflo__mas {
  display: block;
  background: #00ffb6;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  border-radius: 35px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.btnflo__redes a:hover, .btnflo__mas:hover {
  background: #7e089c;
}

.btnflo__icon {
  height: 1.2rem;
  width: 1.2rem;
}

.btnflo__iconPlus {
  height: 1.4rem;
  width: 1.4rem;
}

.btnflo__redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

.btnflo__mas:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#btnr:checked ~ .btnflo__redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.me {
  padding: 60px 0px 60px 0px;
}

.me__main {
  background-color: #fff;
  padding-top: 25px;
}

.me__container1 {
  padding: 90px 30px;
  background-image: url(../../img/me/bgme.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.me__container2 {
  padding: 10px 0 60px 0;
}

.me__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.me__titulo {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  font-size: 4em;
  line-height: 3.3rem;
  font-weight: 700;
}

.me__text {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  padding-top: 25px;
}

.me__text2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  color: #040229;
  font-weight: 400;
  line-height: 35px;
  margin-right: 10%;
}

.me__text3 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;
  color: #040229;
  font-weight: 400;
  line-height: 25px;
}

.me__imgPpal {
  width: 100%;
}

.tarjeta {
  /*
    background y box shadow
    https://neumorphism.io/#e0e0e0
    */
}

.tarjeta__row {
  padding: 2.5em 2.5em;
  background: #e0e0e0;
}

.tarjeta a {
  text-decoration: none;
}

.tarjeta__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.tarjeta__contenedorChris {
  margin: 8px 8px;
  background: linear-gradient(135deg, #d5d5d5, #fefefe);
  -webkit-box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
          box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
}

.tarjeta__contenedorChris:hover {
  background-image: url(../../img/bgChris.jpg);
  background-repeat: nome;
  background-size: contain;
  background-position: top center;
}

.tarjeta__contenedorGranville {
  margin: 8px 8px;
  background: linear-gradient(135deg, #d5d5d5, #fefefe);
  -webkit-box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
          box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
}

.tarjeta__contenedorGranville:hover {
  background-image: url(../../img/bgGranville.jpg);
  background-repeat: nome;
  background-size: contain;
  background-position: top center;
}

.tarjeta__contenedorMuv {
  margin: 8px 8px;
  background: linear-gradient(135deg, #d5d5d5, #fefefe);
  -webkit-box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
          box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
}

.tarjeta__contenedorMuv:hover {
  background-image: url(../../img/bgMuv.jpg);
  background-repeat: nome;
  background-size: contain;
  background-position: top center;
}

.tarjeta__img {
  padding: 8% 8%;
  width: 100%;
}

.tarjeta__imgWeb {
  width: 100%;
}

.tarjeta__textos {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  background: #fff;
  padding: 8% 8%;
}

.tarjeta__titulo {
  font-weight: 700;
  font-size: 1.2em;
}

.tarjeta__sub {
  font-size: 1rem;
}

.tarjeta__col {
  margin: 7px 7px;
  height: 400px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.tarjeta__col::-webkit-scrollbar {
  width: 7px;
  background: #7777;
}

.tarjeta__col::-webkit-scrollbar-thumb {
  background: #00ffb6;
}

.servicio__row {
  padding: 2.5em 2.5em;
  background: #e0e0e0;
}

.servicio__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.servicio__contenedor {
  margin: 8px 8px;
  background: linear-gradient(135deg, #d5d5d5, #fefefe);
  -webkit-box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
          box-shadow: 5px 5px 13px #d7d7d7, -5px -5px 13px #e9e9e9;
}

.servicio__img {
  padding: 8% 8%;
  width: 100%;
}

.servicio__img:hover {
  -webkit-transform: scale(107%);
          transform: scale(107%);
}

.servicio__imgWeb {
  width: 100%;
}

.servicio__textos {
  color: #040229;
  font-family: "Roboto Mono", monospace;
  background: #fff;
  padding: 8% 8%;
}

.servicio__titulo {
  font-weight: 700;
  font-size: 1.2em;
}

.servicio__sub {
  font-size: 1rem;
}

.contacto__main {
  background-color: #040229;
}

.contacto__container {
  padding-top: 2.5em;
}

.contacto__rowTitulo {
  padding-bottom: 2.5em;
}

.contacto__rowDatos {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 900px) {
  .contacto__rowDatos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacto__rowForm {
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  padding-bottom: 45px;
}

.contacto__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__img {
  height: 25%;
  margin-bottom: 25px;
  padding-right: 25px;
}

.contacto__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.contacto__iconos:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.contacto__icon1 {
  height: 20px;
  padding-right: 9px;
}

.form-control {
  padding-bottom: 15px;
}

.map {
  width: 100%;
}

.map__iframe {
  margin-top: 25px;
  width: 100%;
  height: 250px;
}

@media (max-width: 900px) {
  .map__iframe {
    height: 600px;
  }
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #040229;
}

.footer__logo {
  height: 40px;
}

.footer__sub {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 9px 0 0 0;
}

.footer__titulo {
  font-family: "Roboto Mono", monospace;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.footer__icons {
  width: 1.7rem;
  height: 1.7rem;
  padding-left: 5px;
}

.copyright {
  position: relative;
  padding-top: 10px;
  margin-top: 25px;
  text-align: center;
  background: #00ffb6;
}

.copyright__text {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */